body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(31, 31, 31);
  color: white;
}

.square {
  display: inline-block;
  width: 185px;
  height: 165px;
  margin: 3px;
  background-color: rgb(108, 108, 114);
  vertical-align: top;
  font-size: 700%;
  color: rgb(255, 255, 255);
}

.row {
  min-width: 600px;
}

#timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 8em;
}
#timer p {
  margin: 0px;
  margin-top: 20px;
}

.counterPlayers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
